.text-homepage {
  font-size: 77px;
  text-align: center;
  color: white;
}

.tombol {
  background-color: #384b60;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  padding: 5px 20px;
  box-shadow: 0 0 10px white;
  font-size: larger;
}

.tombol-item {
  margin-right: 5px;
}

.card {
  margin: 20px;
  padding: 20px;
}

.dashboard-nav-item {
  margin-top: '100px';
}

@media (min-width: 768px) {
  .card {
    margin: 20px;
    padding: 20px;
  }
}
